$main-color: rgb(200, 50, 50);
$main-color2: rgb(230, 219, 219);
$main-color3: rgb(108, 108, 108);
$side-color: rgb(54, 54, 54);
$side-color2: rgb(216, 180, 180);

@mixin mediaBig {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin mediaMid {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin recipeStyle {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;

  @include mediaMid {
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
    margin-inline: auto;
    align-items: start;
  }
  @include mediaBig {
    grid-template-columns: repeat(3, 1fr);
    width: Min(70vw, 1500px);
  }
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
