$main-color: rgb(200, 50, 50);
$main-color2: rgb(230, 219, 219);
$main-color3: rgb(108, 108, 108);
$side-color: rgb(54, 54, 54);
$side-color2: rgb(216, 180, 180);

@mixin media {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin recipeStyle {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;

  @include media {
    grid-template-columns: repeat(3, 1fr);
    width: Min(70vw, 2000px);
    margin-inline: auto;
  }
}
